body {
	background-image:url("farmhouse.jpg");
	background-repeat: no-repeat;
	height:100%;
	width:auto;
	background-position: center;
	background-size: cover;
		/* Create the parallax scrolling effect */
	background-attachment: fixed;

}

.divImg{
	padding:15px 0 15px 0;
	width:100%; 
	height:250px;
}

.divTitle {
	padding: 7px 0 15px 0;
}

.divBody {
	background-color:rgb(255, 250, 240, .8);
	height:450px;
	margin: 0 0 0 0;
}

.pointer {
	cursor: pointer;
}

.img-thumbnail {
	width: 25%;
	height:auto;
}